.tranparent {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0%, rgba(0,0,0,0.00)),color-stop( 100%, rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

a {
    cursor: pointer;
}

.btn-show-all {
    margin-top: 0;
    width: 50%;
    border-radius: 10%;
    font-size: medium;
}

.product {
    color: white;
    border-radius: 15px;
    margin: 0.2em;
    background-color: #3F51B5;
    padding-left: 0.5em;
    padding-right: 0.5em;
    transition-duration: 0.5s;

}

.hide-scroll {
    overflow: hidden;
    margin-left: 1em;
}

.viewport {
    overflow: scroll;
    overflow-x: hidden;
    margin-left: 1em;
}

    .viewport :hover {
        color: white;
        transition-duration: 1s;
        background: linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 1) );
    }

.new-message {
    bottom: 0;
    left: 0;
    margin-top: 5%;
}

.single-product {
    height: 80%;
}

.message {
    border: 1px solid black;
    padding: 1%;
    background-color: #2f4f4f;
}

.messages-container {
    background-color: grey;
    color: white;
    overflow: auto;
    overflow-x: hidden;
    border-radius: 2%;
}

.messages {
    height: 28em;
    overflow: auto;
    overflow-x: hidden;
}

.messages-page {
    overflow-x: hidden;
}

.list-products:hover {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) );
}

.vcenter {
    margin-top: 0.0em;
    display: inline-block;
    vertical-align: middle;
}

.nav {
    background-color: #00BCD4;
    margin-bottom: 0px;
}

.sides {
    height: auto;
    overflow-x: auto;
}

.left {
    border-right: 1px solid black;
}

.right {
    border-left: 1px solid black;
}

.left-side {
    height: 50%;
    overflow: auto;
    overflow-x: hidden;
}

.overflow-text {
    text-overflow: ellipsis;
}

.menudemoBasicUsage .md-menu-demo {
    padding: 24px;
}

.menudemoBasicUsage .menu-demo-container {
    min-height: 200px;
}

.cursor-hand {
    cursor: pointer;
}

.hide-x-overflow {
    overflow-x: hidden;
}

.hide-y-overflow {
    overflow-y: hidden;
}

.active {
    background: yellow;
}

.goal {
    background: #f6f6f6;
    margin-left: 40px;
    padding: 10px;
    margin-bottom: 40px;
}

    .goal * {
        display: block;
    }

md-divider {
    margin-top: 10px;
    margin-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

h1, h2, h3 {
    vertical-align: middle;
}

    h1 > .badge, h2 > .badge, h3 > .badge {
        vertical-align: middle;
        margin-top: -0.5em;
    }

.big-input {
    font-size: 2em !important;
}

.carddemoBasicUsage .card-media {
    background-color: #999999;
}

md-card {
    border-radius: 10px !important;
}

hr {
    height: 1px;
    color: darkred;
    background-color: darkred;
    border: none;
}

.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
    color: white;
}

.tabsdemoDynamicHeight md-content {
    background-color: transparent !important;
}

    .tabsdemoDynamicHeight md-content md-tabs {
        background: #f6f6f6;
        border: 1px solid #e1e1e1;
    }

        .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
            background: white;
        }

    .tabsdemoDynamicHeight md-content h1:first-child {
        margin-top: 0;
    }



.bottomSheetdemoBasicUsage .md-inline-list-icon-label {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -10px;
    height: 24px;
    vertical-align: middle;
}

.bottomSheetdemoBasicUsage .md-grid-item-content {
    height: 90px;
    padding-top: 10px;
}

    .bottomSheetdemoBasicUsage .md-grid-item-content md-icon {
        height: 48px;
        width: 48px;
    }

.bottomSheetdemoBasicUsage .md-grid-text {
    padding-bottom: 5px;
}

.bottomSheetdemoBasicUsage md-list-item, .bottomSheetdemoBasicUsage md-list-item .md-list-item-inner {
    min-height: 48px;
}

.bottomSheetdemoBasicUsage h2 {
    line-height: 36px;
    padding-top: 10px;
}

.bottomSheetdemoBasicUsage .md-subheader .md-subheader-inner {
    padding: 0;
}

.bottomSheetdemoBasicUsage md-toast .md-toast-content {
    background-color: #B14141;
}

.bottomSheetdemoBasicUsage md-toast > * {
    font-weight: bolder;
}

.image-fit {
    height: 10% !important;
    width: auto;
}

.margin-top {
    margin-top: 20px;
}

.font-color-blue {
    color: blue;
}



.datepickerdemoBasicUsage md-content {
    padding-bottom: 200px;
}

.datepickerdemoBasicUsage .validation-messages {
    font-size: 12px;
    color: #dd2c00;
    margin-left: 15px;
}

.image-small {
    margin-top: 0.5em;
    max-height: 130px;
    max-width: 130px;
}

.large-image {
    max-height: 400px;
    max-width: 400px;
}

.fixed-size-image {
    margin: 0.5em;
    height: 90px;
    width: 90px;
}

.medium-image {
    max-height: 250px;
    max-width: 250px;
}

.black {
    background-color: #a0522d !important;
}

.green {
    background: #03C9A9 !important;
}

.fabSpeedDialdemoBasicUsage .text-capitalize {
    text-transform: capitalize;
}

.fabSpeedDialdemoBasicUsage .md-fab:hover, .fabSpeedDialdemoBasicUsage .md-fab.md-focused {
    background-color: #000 !important;
}

.fabSpeedDialdemoBasicUsage p.note {
    font-size: 1.2rem;
}

.fabSpeedDialdemoBasicUsage .lock-size {
    min-width: 300px;
    min-height: 300px;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.line-height-small {
    line-height: 40px !important;
}

.fixed-bottom {
    position: fixed;
    bottom: 15px;
    right: 0px;
}

.large-btn {
    min-width: 70px !important;
    min-height: 70px !important;
}

.md-raised:hover {
    background-color: grey !important;
    color: white;
    transition-duration: 1.5s;
}

toggle-switch {
    border: 0px !important;
}

#newProductForm {
    font-size: 1.3em !important;
}

.title {
    font-family: 'Permanent Marker', cursive;
    margin-top: 0.8em;
    margin-bottom: 1em;
    padding-left: 0.5em;
    font-size: 5em;
    text-shadow: 2px 2px #888888;
}

.subtitle {
    font-family: 'Permanent Marker', cursive;
    margin-top: 1em;
    margin-bottom: 1.2em;
    font-size: 2em;
}

.max-width-height {
    max-height: 400px;
    max-width: 400px;
    transition-duration: 1s;
}

.fixed-top {
    position: fixed;
    top: 1%;
}

.loading-container {
    position: fixed;
    bottom: 2em;
}

.shadowed {
    box-shadow: 2px 2px 2px #888888 !important;
}

.fixed-right-bottom {
    position: fixed;
    bottom: 200px;
    left: 10px;
}

.side-panel {
    max-height: 400px;
    overflow-y: auto !important;
}

.small-button-width {
    max-width: 10% !important;
}

.fixed-line-height {
    line-height: 40px;
}

.hover-efect:hover {
    background-color: grey;
}

.bottom-converstions {
    z-index: 21;
    max-width: 85%;
    position: fixed;
    bottom: 2%;
    left: 1%;
    max-height: 250px;
    max-height: 300px;
    min-height: 150px;
}

    .bottom-converstions .panel-heading {
        padding: 5px !important;
    }

.private-chat-window {
    overflow-y: auto;
    min-width: 200px;
}

.inline-conversation {
    overflow-y: auto;
    min-height: 100px;
    max-height: 200px;
    background-color: white;
    border-radius: 2px;
}

.no-padding-right {
    padding-right: 0px;
}

.loading-bar {
    position: fixed;
    z-index: 1000;
}

.flex-allign {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fixed-width {
    width: 12em;
}

.fixed-large-width {
    width: 14em;
}

.small-padding {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.fixed-height {
    height: 13em;
}

.fixed-actionbtn-width {
    width: 12em;
}

.improvment-box {
    position: fixed;
    bottom: 2em;
    left: 2em;
    min-width: 150px;
    max-height: 100px;
    max-width: 200px;
}

    .improvment-box a {
        color: white;
    }

        .improvment-box a:hover {
            color: black;
        }

    .improvment-box .header {
        background-color: #00BCD4;
        color: white;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }

.send-improvement-button {
    color: #008b8b !important;
}

.larger-font-size {
    font-size: 1.2em;
}

.settings-sidebar {
    background-color: black;
    color: white;
}

    .settings-sidebar .sidebar-title {
        font-family: 'Permanent Marker', cursive;
        line-height: 1.5em;
        padding-left: 0.5em;
    }

    .settings-sidebar md-toolbar {
        background-color: black;
    }

    .settings-sidebar md-content {
        background-color: black;
        color: white;
        padding: 0.5em;
    }

.errors {
    font-size: 0.7em;
}

#body {
    min-height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.add-border-radius {
    border-radius: 5px;
}

.no-hover-effect :hover *{
    pointer-events: none;
}

.hy-z-index {
    z-index: 1000;
}

.added-margin-top {
    margin-top: 3em;
}

#actionBtn {
    cursor: move;
}

.custom-input {
    background-color: gray;
}

.custom-background {
    background-color: #e8e8e8;
}

.special-input {
    margin-top: 0.4em;
    padding: 0.3em;
    height: auto;
    border-width: 5px;
    border-radius: 15px;
    text-align: center;
    border-color: #9E9E9E;
    transition-duration: 0.5s;
}

    .special-input:hover {
        border-color: #FF5252;
        transition-duration: 0.5s;
        color: black;
    }
.special-input:focus {
    text-align: left;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.nice-border {
    border-color: #FF5252;
}

.search-btn :hover {
    color: #FF5252;
    background-color: #FF5252 !important;
    transition-duration: 0.5s;
}


.select-city {
    padding: 0.2em;
}

.select-city:hover {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    color: #D32F2F;
    background-color: wheat;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    text-align: center;
    z-index: 100;
    border-radius: 15px;
}

.indent {
    text-indent: 50px;
    text-align: justify;
}

.v-allign {
    margin-bottom: 0;
    margin-top: 0.5em
}

.badge-right {
    margin-left: 10px;
}

.fixed-max-width-image {
    max-height: 9em;
}

.contact-info {
    font-size: large;
    margin-left: 15px;
}

.contact-page i{
    color: #283593;
}