.align-vertically-close-btn {
    margin-top: 15px;
}

.alerts-btn {
    background-color: #D32F2F !important;
    color: white !important;
}

.fixed-line-height-big {
    line-height: 2em;
}

.angular-google-map-container { height: 400px;border-radius: 10px; }