@media only screen and (max-width: 480px) {
    .improvment-box {
        display: none;
    }

    .product {
        margin-left: 0;
        margin-right: 0;
    }

    .small-padding {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .fixed-width {
        width: 10em;
    }

    .user-product {
        padding: 0 !important;
        margin-right: 0;
        margin-left: 0;
    }

    .no-padding-xs {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .md-padding-content {
        padding-left: 0.2em;
    }

    .friends {
        position: fixed;
        top: 3.7em;
        right: -79px;
        z-index: 100;
        transform: rotate(90deg);
        transform-origin: left top 0;
    }

    .allign-center-xs {
        text-align: center;
    }

    .latest_added_products_label {
        text-align: center;
    }

    .centered-xs {
        text-align: center;
    }

    .centered-xs-right-rest {
        text-align: center;
    }
    
    .title {
        font-size: 3.5em;
    }
}