<div ng-controller="settingsController">
    <md-toolbar>
        <h3 class="sidebar-title">
            <i class="fa fa-gears"></i>&nbsp;Settings
        </h3>
    </md-toolbar>
    <hr />
    <md-content layout="column" layout-align="center">
        <md-switch class="md-primary" ng-model="useFixedNavbar" ng-change="changeNavbarPreference()">
            Use fixed navbar
        </md-switch>
        <md-switch class="md-primary" ng-model="useCustomBackground" ng-change="changeBackgroundPreference()">
            Use custom background
        </md-switch>
        <input type="file" style="display: none;" id="backgroundImage" accept="image/*" onchange="angular.element(this).scope().setBackgroundImage()"/>
    </md-content>
</div>
