<div class="container-fluid">
    <md-bottom-sheet class="md-grid" layout="row">
        <div class="col-sm-2 col-sm-offset-2">
            <md-button class="md-grid-item-content" ng-click="showInfo('Email', item.email)" ng-disabled="!item.email">
                <md-tooltip>{{item.email}}</md-tooltip>
                <md-icon><i class="fa fa-envelope fa-2x"></i></md-icon>
                <div class="md-grid-text">Mail</div>
            </md-button>
        </div>
        <div class="col-sm-2">
            <md-button class="md-grid-item-content" ng-click="showInfo('Facebook', item.facebook)" ng-disabled="!item.facebook">
                <md-tooltip>{{item.facebook}}</md-tooltip>
                <md-icon><i class="fa fa-facebook fa-2x"></i></md-icon>
                <div class="md-grid-text">Facebook</div>
            </md-button>
        </div>
        <div class="col-sm-2">
            <md-button class="md-grid-item-content" ng-click="showInfo('Twitter', item.twitter)" ng-disabled="!item.twitter">
                <md-tooltip>{{item.twitter}}</md-tooltip>
                <md-icon><i class="fa fa-twitter fa-2x"></i></md-icon>
                <div class="md-grid-text">Twitter</div>
            </md-button>
        </div>
        <div class="col-sm-2">
            <md-button class="md-grid-item-content" ng-click="showInfo('Phone', item.phone)" ng-disabled="!item.phone">
                <md-tooltip>{{item.phone}}</md-tooltip>
                <md-icon><i class="fa fa-phone fa-2x"></i></md-icon>
                <div class="md-grid-text">Phone</div>
            </md-button>
        </div>
    </md-bottom-sheet>
</div>