<div class="container-fluid">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-6">
            <h3 class="h3">Your are awesome!</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-2 centered">
            <form name="registerForm">
                <md-input-container class="md-block">
                    <md-icon><i class="fa fa-user"></i></md-icon>
                    <input type="text" class="text-input" ng-model="user.userName" placeholder="Username" ng-minlength="6" ng-maxlength="15" ng-blur="checkUsername()" required>
                </md-input-container>
                <md-input-container class="md-block">
                    <md-icon><i class="fa fa-envelope"></i></md-icon>
                    <input type="email" class="text-input" ng-model="user.email" placeholder="Email" ng-blur="checkEmail()" required>
                </md-input-container>
                <md-input-container class="md-block">
                    <md-icon><i class="fa fa-location-arrow"></i></md-icon>
                    <input type="text" class="text-input" ng-model="user.address" placeholder="Address" ng-maxlength="40" required>
                </md-input-container>
                <md-input-container class="md-block">
                    <md-icon><i class="fa fa-key"></i></md-icon>
                    <input class="text-input" placeholder="Password" ng-model="user.password" type="password" ng-blur="checkPassword()" required><br />
                </md-input-container>
                <md-input-container class="md-block">
                    <md-icon><i class="fa fa-circle"></i></md-icon>
                    <input type="password" class="text-input" ng-model="confirmPassword" placeholder="Confirm password" ng-blur="checkPasswordValidation()" required />
                </md-input-container>
            </form>
        </div>
        <div class="col-sm-4 centered">
            <md-input-container class="md-block">
                <md-icon><i class="fa fa-facebook"></i></md-icon>
                <input type="text" class="text-input" placeholder="Facebook address" ng-maxlength="40">
            </md-input-container>
            <md-input-container class="md-block">
                <md-icon><i class="fa fa-twitter"></i></md-icon>
                <input type="text" class="text-input" placeholder="Twitter address" ng-maxlength="40">
            </md-input-container>
            <md-input-container class="md-block">
                <md-icon><i class="fa fa-phone"></i></md-icon>
                <input type="text" class="text-input" placeholder="Phone number" ng-maxlength="15">
            </md-input-container>
            <input type="file" style="display: none;" id="pictures" accept="image/*" onchange="angular.element(this).scope().setAvatar()" />
            <input type="button" class="btn btn-green" value="Select avatar" onclick="document.getElementById('pictures').click();"/><br/>
            <img class="img img-circle" alt="avatar image"/>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 centered" ng-repeat="error in errors">
                <div class="alert alert-danger">
                    <strong><i class="fa fa-exclamation-triangle"></i>&nbsp;Error&nbsp;</strong> {{error.value}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 centered">
                <a class="btn btn-primary btn-lg" ng-click="signIn()" ng-disabled="registerForm.$invalid || error.length>0">Sign up</a>
            </div>
            <div class="col-sm-5 col-sm-offset-1">
                <a ng-href="#/home" class="btn btn-default btn-lg">Cancel</a>
            </div>
        </div>
    </div>
</div>