<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 centered">
            <button type="button" class="btn btn-info fixed-large-width" data-toggle="collapse" data-target="#favorites"><i class="fa fa-star"></i>&nbsp;Favorites&nbsp;<span class="badge badge-right">{{favorites.length}}</span></button>
        </div>
        <div class="col-xs-12 col-sm-12">
            <div class="collapse" id="favorites">
                <md-list flex>
                    <md-list-item class="md-3-line favorite-poduct" ng-repeat="product in favorites">
                        <div class="md-list-item-text" layout="column" ng-click="goToProduct(product.id)">
                            <h3><strong>{{ product.title }}</strong>
                            </h3>
                            <h4><strong>Price:&nbsp;</strong>{{ product.price | currency : "lei ":0}}</h4>
                            <p><strong>By:&nbsp;</strong>{{ product.userName }}
                            </p>
                        </div>
                        <a ng-click="removeProductFromFavorites(product)">
                            <md-tooltip>
                                Remove product
                            </md-tooltip><i class="fa fa-remove"></i>
                        </a>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </div>
        </div>
    </div>
</div>