<div class="container-fluid">
    <md-bottom-sheet class="md-grid" layout="column">
        <div ng-cloak>
            <div class="row">
                <div class="col-sm-2 col-sm-offset-1">
                    <md-button class="md-grid-item-content" ng-click="">
                        <md-icon><i class="fa fa-envelope fa-2x"></i></md-icon>
                        <div class="md-grid-text">Mail</div>
                    </md-button>
                </div>
                <div class="col-sm-2">
                    <md-button class="md-grid-item-content" ng-click="">
                        <md-icon><i class="fa fa-facebook fa-2x"></i></md-icon>
                        <div class="md-grid-text">Facebook</div>
                    </md-button>
                </div>
                <div class="col-sm-2">
                    <md-button class="md-grid-item-content" ng-click="">
                        <md-icon><i class="fa fa-twitter fa-2x"></i></md-icon>
                        <div class="md-grid-text">Twitter</div>
                    </md-button>
                </div>
                <div class="col-sm-2">
                    <md-button class="md-grid-item-content" ng-click="">
                        <md-icon><i class="fa fa-instagram fa-2x"></i></md-icon>
                        <div class="md-grid-text">Instagram</div>
                    </md-button>
                </div>
                <div class="col-sm-2">
                    <md-button class="md-grid-item-content" ng-click="">
                        <md-icon><i class="fa fa-phone fa-2x"></i></md-icon>
                        <div class="md-grid-text">Phone</div>
                    </md-button>
                </div>
            </div>
        </div>
    </md-bottom-sheet>
</div>

