<div class="container-fluid no-padding-xs">
    <br />
    <div ng-cloak>
        <md-content class="add-border-radius">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Product">
                    <md-content class="md-padding">
                        <md-toolbar>
                            <div class="md-toolbar-tools">
                                <h1>
                                    <strong>{{product.title}}</strong>
                                </h1>
                                <span flex></span>
                                <md-button class="md-fab md-mini" aria-label="Contact" ng-click="showGridBottomSheet()">
                                    <md-tooltip>Contact user</md-tooltip>
                                    <i class="fa fa-user"></i>
                                </md-button>
                                <md-button class="md-fab md-mini" aria-label="Favorite" ng-click="addProductToFavorites()">
                                    <md-tooltip>Add to favorites</md-tooltip>
                                    <i class="fa fa-heart"></i>
                                </md-button>
                            </div>
                        </md-toolbar>
                        <br />
                        <div class="row allign-center-xs">
                            <div class="col-xs-12 col-sm-6">
                                <md-card-header>
                                    <md-card-avatar>
                                        <i class="fa fa-users fa-2x"></i>&nbsp;
                                    </md-card-avatar>
                                    <md-card-header-text>
                                        <a class="md-title" ng-href="#/user/{{product.userName}}">By:&nbsp;<strong>{{product.userName}}</strong></a><br /><br />
                                        <span class="md-title">Price:&nbsp;<strong>{{product.price | currency : "lei " : 0}}</strong></span><br/><br/>
                                        <span class="md-subhead">Category: &nbsp;<strong>{{product.category.name}}</strong></span><br /><br />
                                        <span class="md-subhead">City: &nbsp;<strong>{{product.city.name}}</strong></span><br /><br />
                                    </md-card-header-text>
                                </md-card-header><br />
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4" ng-if="product.tradesAccepted">
                                        <span><i class="fa fa-circle"></i>&nbsp;Trades accepted</span>
                                    </div>
                                    <div class="col-xs-4 col-sm-4" ng-if="product.free">
                                        <span><i class="fa fa-circle"></i>&nbsp;For free</span>
                                    </div>
                                    <div class="col-xs-4 col-sm-4" ng-if="product.rental">
                                        <span><i class="fa fa-circle"></i>&nbsp;For rent</span>
                                    </div>
                                </div>
                                <br />
                                <div class="row" ng-if="product.images">
                                    <div class="col-xs-4 col-sm-4 centered" ng-repeat="image in product.images">
                                        <img ng-src="{{image.value}}" class="img img-responsive img-thumbnail fixed-size-image" ng-hover="setSelected($index)" ng-click="openImage($index)" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 max-width-height " ng-if="selectedImage">
                                <img ng-src="{{selectedImage}}" class="img-responsive center-block" alt="No images! :(">
                            </div>
                        </div>
                        <md-card class="no-space-xs">
                            <md-card-content class="md-padding-content">
                                <p>{{product.description}}</p>
                            </md-card-content>
                        </md-card>
                    </md-content>
                </md-tab>
                <md-tab label="Messages">
                    <md-content class="md-padding">
                        <div class="row">
                            <div class="col-sm-12">
                                <div>
                                    <span ng-show="messages.length==0">No messages present for this product, be the first one! :)</span>
                                </div>
                                <md-content class="no-hover-effect">
                                    <md-list>
                                        <md-list-item class="md-3-line" ng-repeat="message in messages">
                                            <div class="md-list-item-text">
                                                <h3>{{message.userName}}</h3>
                                                <h4>{{message.value}}</h4>
                                                <p>{{message.dateCreated}}</p>
                                            </div>
                                            <md-divider ng-if="!$last"></md-divider>
                                        </md-list-item>
                                    </md-list>
                                </md-content>
                                <br />
                                <br />
                                <div class="row">
                                    <div class="col-sm-9 col-sm-offset-1">
                                        <md-input-container class="md-block">
                                            <label>New message</label>
                                            <input md-maxlength="90" md-no-asterisk name="description" ng-model="newMessage" on-key-enter="saveMessage()">
                                            <div>
                                                <div ng-message="md-maxlength">The description must be less than 90 characters long.</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-1 centered">
                                        <md-button ng-click="saveMessage()" ng-disabled="!newMessage" class="md-fab"><span class="fa fa-send fa-2x"></span></md-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Contact">
                    <md-content class="md-padding">
                        <div class="row">
                            <div class="col-sm-11 col-sm-offset-1 fixed-line-height" ng-if="productOwner.facebook">
                                <br />
                                <i class="fa fa-facebook fa-2x"></i>&nbsp;
                                <span>{{productOwner.facebook}}</span>
                            </div>
                            <br />
                            <div class="col-sm-11 col-sm-offset-1 fixed-line-height" ng-if="productOwner.email">
                                <br />
                                <i class="fa fa-envelope fa-2x fixed-line-height"></i>&nbsp;
                                <span> {{productOwner.email}} </span>
                            </div>
                            <br />
                            <div class="col-sm-11 col-sm-offset-1 fixed-line-height">
                                <br />
                                <i class="fa fa-twitter fa-2x" ng-if="productOwner.twitter"></i>&nbsp;
                                <span> {{productOwner.twitter}} </span>
                            </div>
                            <br />
                            <div class="col-sm-11 col-sm-offset-1 fixed-line-height">
                                <br />
                                <i class="fa fa-phone fa-2x" ng-if="productOwner.phone"></i>&nbsp;
                                <span> {{productOwner.phone}} </span>
                            </div>
                            <br />
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
</div>
