<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 centered">
            <button type="button" class="btn btn-info fixed-large-width" data-toggle="collapse" data-target="#unread"><i class="fa fa-envelope"></i>&nbsp;Unread Messages&nbsp;<span class="badge centered">{{unreadMessages.length}}</span></button>
        </div>
        <div class="col-sm-12">
            <div class="collapse" id="unread">
                <md-list flex>
                    <md-list-item class="md-3-line" ng-repeat="message in unreadMessages" ng-click="markMessageRead(message)">
                        <div class="md-list-item-text" layout="column">
                            <h3><strong>{{ message.userName }}</strong></h3>
                            <p><i>{{ message.value }}</i></p>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </div>
        </div>
    </div>
</div>