<div class="container-fluid">
    <form name="changePass">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 centered">
                <h3 class="h3 mtb">{{username}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 centered">
                <md-input-container>
                    <label>Old password</label>
                    <input required name="oldPassword" ng-model="oldPassword" type="password">
                </md-input-container>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 centered">
                <md-input-container>
                    <label>New password</label>
                    <input required name="newPassword" ng-model="newPassword" type="password" ng-blur="checkPassword()">
                </md-input-container>
            </div>
        </div>
        <div class="row" ng-show="showError">
            <div class="col-sm-10 col-sm-offset-1 centered">
                <div flex class="alert alert-warning">
                    <p>Password should be between 8 and 16 characters, should contain at least one digit, one uppercase letter no symbol characters!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 centered">
                <md-input-container>
                    <label>Confirm new password</label>
                    <input required name="confirmPassword" ng-model="confirmPassword" type="password" ng-blur="checkPasswordConfirmation()">
                </md-input-container>
            </div>
        </div>
        <div class="row" ng-show="showPasswordConfirmationError">
            <div class="col-sm-10 col-sm-offset-1 centered">
                <div flex class="alert alert-warning">
                    <p>Password doesn't match the password confirmation</p>
                </div>
            </div>
        </div>
       
        <div class="row">
            <div class="col-xs-4 col-xs-offset-1 col-sm-4 col-sm-offset-1 centered">
                <a class="btn btn-primary fixed-width" ng-click="changePassword()" ng-disabled="changePass.$invalid || showError==true || showPasswordConfirmationError==true">Change password</a>
            </div>
            <div class="col-xs-4 col-xs-offset-1 col-sm-4 col-sm-offset-1 centered">
                <a class="btn btn-default fixed-width" ng-click="cancel()">Cancel</a>
            </div>
        </div>
    </form>
    <br/>
</div>