<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 centered" ng-show="!isLoading">
            <h1>
                Please login!<br/>
            </h1>
            <hr/>
            <br/>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <form class="form-group" name="loginForm">
                        <md-input-container class="md-block big-input" flex-gt-sm>
                            <label>Username</label>
                            <input ng-model="username" required>
                        </md-input-container>
                        <br/>
                        <md-input-container class="md-block big-input" flex-gt-sm>
                            <label>Password</label>
                            <input type="password" ng-model="password" required>
                        </md-input-container>
                        <md-checkbox md-no-ink class="md-primary" ng-model="rememberCredentials" ng-change="rememberCredentialsOption()">
                            Remember me
                        </md-checkbox>
                        <br/>
                    </form>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <md-button class="md-raised md-primary fixed-width" ng-click="login()" ng-disabled="gettingToken || loginForm.$invalid">Login</md-button>
                    </div>
                    <div class="col-sm-6">
                        <md-button class="md-raised fixed-width" ng-click="cancel()">Cancel</md-button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 col-sm-offset-1">
                    <p>Don't have an acount yet?&nbsp;</p><a ng-href="#/register">Register here</a>
                </div>
                <div class="col-sm-5">
                    <p>Forgot your password?&nbsp;</p><a ng-click="resetPassword()" ng-disabled="!username">Reset it here</a>
                </div>
            </div>
            <div ng-show="mailSent" class="alert alert-success">
                <p>Check your mail for the new password.&nbsp;<i class="fa fa-smile-o"></i>
                </p>
            </div>
            <br/>
        </div>
        <div ng-show="isLoading" class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <img src="../../Content/assets/loading-gears-animation-10.gif" class="img-responsive center-block"/>
            </div>
            <div class="col-sm-10 col-sm-offset-1 centered">
                <h3 class="h3"><i>Please wait...</i></h3>
            </div>
        </div>
    </div>
</div>
