<div class="container-fluid larger-font-size">
    <div class="row">
        <div class="col-sx-12 col-sm-10">
            <h3 class="subtitle centered-xs">{{edit == true ? 'Edit product' : 'Add new product'}}</h3>
        </div>
        <br />
        <div class="col-xs-12 col-sm-7">
            <form name="newProductForm" id="newProductForm">
                <div class="row">
                    <div class="col-sm-8">
                        <md-input-container class="md-block" flex-gt-sm name="title">
                            <md-tooltip>Title should be between 5 and 30 characters!</md-tooltip>
                            <label>Title</label>
                            <input type="text" ng-model="product.title" ng-minlength="5" ng-maxlength="30" required />
                            <div ng-messages="newProductForm.title.$error">
                                <div ng-message="required">Title required or invalid.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div class="col-sm-4">
                        <md-input-container class="md-block" flex-gt-sm name="price">
                            <md-tooltip> In lei :)</md-tooltip>
                            <label>Price</label>
                            <input type="number" ng-model="product.price" ng-min="0" step="10" required />
                            <div ng-messages="newProductForm.price.$error">
                                <div ng-message="required">Price required or invalid.</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <md-input-container class="md-block" flex-gt-sm name="category">
                            <label>Category</label>
                            <md-select ng-model="product.categoryId" required>
                                <md-option ng-repeat="category in categories" value="{{category.id}}">
                                    {{category.name}}
                                </md-option>
                            </md-select>
                            <div ng-messages="newProductForm.category.$error">
                                <div ng-message="required">Category required.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div class="col-sm-6">
                        <md-input-container class="md-block" flex-gt-sm name="city">
                            <label>City</label>
                            <md-select ng-model="product.cityId" required>
                                <md-option ng-repeat="city in cities" value="{{city.id}}">
                                    {{city.name}}
                                </md-option>
                            </md-select>
                            <div ng-messages="newProductForm.city.$error">
                                <div ng-message="required">City required.</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
                <br />
                <div class="row centered">
                    <div class="col-xs-4 col-sm-4">
                        <span>Trades?&nbsp;</span><br />
                        <div toggle-switch ng-model="product.tradesAccepted" on-label="yes" off-label="no"></div>
                    </div>
                    <div class="col-xs-4 col-sm-4 ">
                        <span>Rent?&nbsp;</span><br />
                        <div toggle-switch ng-model="product.rental" on-label="yes" off-label="no"></div>
                    </div>
                    <div class="col-xs-4 col-sm-4 ">
                        <span>Free?&nbsp;</span><br />
                        <div toggle-switch ng-model="product.free" on-label="yes" off-label="no"></div>
                    </div>
                </div>
                <br />
                <br />
                <div class="row">
                    <div class="col-sm-12">
                        <md-input-container class="md-block" name="description">
                            <md-tooltip>Description should be between 5 and 30 characters!</md-tooltip>
                            <label>Description</label>
                            <textarea ng-model="product.description" ng-minlength="20" ng-maxlength="150" md-maxlength="150" rows="3" md-select-on-focus required></textarea>
                            <div ng-messages="newProductForm.description.$error">
                                <div ng-message="required">Description required, should be between 20 and 150 characters.</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-12 col-sm-4 col-sm-offset-1 centered">
            <div flow-init flow-drop flow-files-added="processFiles($files)" class="alert alert-info" flow-files-submitted="$flow.cancel()">
                <md-tooltip>Maximum number of images is 3</md-tooltip>
                <input type="file" flow-btn id="pictures" accept="image/*" style="display: none">
                <input type="button" class="btn btn-green" value="Select images" onclick="document.getElementById('pictures').click();" /><br /><br />
                <span>&nbsp;&nbsp;Or drag them here&nbsp;&nbsp;<i class="fa fa-hand-grab-o"></i></span>
            </div>
            <br />
            <div class="alert alert-info" ng-show="!selectedImage">
                <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p>The first image you add will be the main one!</p>
            </div>
            <div class="row">
                <div class="col-sm-12" ng-show="selectedImage">
                    <img class="img img-responsive" ng-src="{{selectedImage}}" />
                </div>
                <div class="col-sm-4 centered" ng-repeat="image in product.images">
                    <div ng-show="image">
                        <img class="img img-responsive fixed-size-image" ng-src="{{image.value}}" ng-click="setMainImage(image)" /><br />
                        <a><i class="fa fa-minus" ng-click="removeImage(image)"></i><md-tooltip>Remove image</md-tooltip></a>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="errors.length > 0">
                <div class="col-sm-10 col-sm-offset-1 centered alert alert-danger" ng-repeat="error in errors">
                    <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Error!</strong>&nbsp;{{error}}.
                </div>
            </div>
        </div>
        <br />
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 centered-xs">
            <strong>Set meeting point</strong><br/>
        </div>
        <div class="col-xs-12" ng-if="mapReady">
            <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                </ui-gmap-marker>
            </ui-gmap-google-map>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 centered margin-top">
            <md-button class="md-fab large-btn" ng-disabled="newProductForm.$invalid" ng-click="saveProduct()">
                <md-tooltip>Save product</md-tooltip>
                <i class="fa fa-save fa-2x"></i>
            </md-button>
        </div>
    </div>
</div>
